amqp==2.5.1
asgiref==3.2.3
astor==0.8.1
atomicwrites==1.3.0
attrs==19.3.0
billiard==3.5.0.5
celery==4.2.1
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.3
cryptography==2.8
Django==1.8.2
django-haystack==2.3.0
django-redis==3.8.4
django-tinymce==2.6.0
Flask==1.1.1
idna==2.8
importlib-metadata==0.23
itsdangerous==1.1.0
jieba==0.41
Jinja2==2.10.3
kombu==4.6.5
MarkupSafe==1.1.1
more-itertools==7.2.0
mutagen==1.43.0
numpy==1.18.1
packaging==20.0
Pillow==6.2.1
pluggy==0.13.1
py==1.8.1
pybind11==2.4.3
pycparser==2.19
pycryptodomex==3.9.4
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyparsing==2.4.6
pytest==5.3.3
python-alipay-sdk==2.0.1
pytz==2019.3
redis==2.10.6
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
taichi-nightly==0.3.21
urllib3==1.25.8
vine==1.3.0
wcwidth==0.1.8
Werkzeug==0.16.0
Whoosh==2.7.4
zipp==0.6.0
